<style>
    .table_top tr,.table_top td {
    border: 1px solid black;
    text-align: center;
}
    .table_top{
        margin-top: 10px !important;
    }

</style>
<ion-view view-title="{{'My Account' | translate}}">
<ion-content overflow-scroll="false">
    <div class="profile-bg">
         <div class="ion-person2"></div>
        <span>Welcome</span><br> {{name}}<br> {{email}}
    </div>
    <div style='padding: 10px;font-size: 14px;' class="profile-menu">
        <div style="margin-top:10px">
            <a class="button button-full button-light icon-13" href="#app/orderDetails" style="text-decoration: none !important">
                 My Orders
            </a>
        </div>
        <div style="margin-top:10px">
            <a class="button button-full button-light icon-14" href="#app/wishlist" style="text-decoration: none !important">
              My Wishlist
            </a>
        </div>
        <div style="margin-top:10px">
            <a class="button button-full button-light icon-15" href="#app/address_book" style="text-decoration: none !important">
                My Address Book
            </a>
        </div>
        <div style="margin-top:10px">
           <!-- <a href="tel:9824815775" style="text-decoration: none !important" class="button button-full button-light icon-16">
                
                 Call Us
            </a>-->
            
            <a class="button button-full button-light icon-16" href="#app/setting" style="text-decoration: none !important">
               Select Languages
            </a>
        </div>
        
        
        
         <div style="margin-top:10px">
               
            <a class="button button-full button-light icon-18" href="#app/contact" style="text-decoration: none !important">
               Contact us
            </a>
        </div>
        
        
        
        
        
        
        <div style="margin-top:10px">
            <a href="#" ng-click="sharewithfriend()" style="text-decoration: none !important" class="button button-full button-light icon-19">
            <!--<a href="#" ng-click="sharewithfriend()" style="text-decoration: none !important">-->
             
               Share with Friends
            </a>
        </div>
        <div style="margin-top:10px">
            <a href="#" ng-click="rateUs()" style="text-decoration: none !important" class="button button-full button-light icon-20">
            <!--<a class="ion-ios-paw" href="#app/leave_feedback" style="text-decoration: none !important">-->
                 Leave Feedback
            </a>
        </div>
        <div style="margin-top:10px">
            <a class="button button-full button-light icon-21" href="#" ng-click="rateUs()" style="text-decoration: none !important"> 
                Rate us on play store
            </a>
        </div>
    </div>
    
    <div class="profile-footer">
    
     <img class="" src="img/logo.png">
    
    	<ul>
        	<li><a href="#">Privacy Policy</a></li>
            <li>|</li>
            <li><a href="#">Terms and Conditions</a></li>
            
        </ul>
    
    </div>
</ion-content>
</ion-view>