.menus-content .button{ text-align:right !important;}
h3.menu-title{ padding-right:12px !important;}
.langchanger {
  direction: rtl; 
}
.p_title{
	 direction: rtl; 
}
pdetail_colsize{
    overflow: hidden;
    border-top: solid 2px #E6E6E6;
    padding: 0 15px;
}
.col-size{
	 direction: rtl; 
}
.pdetail_plus_icon_hr{
    float: left;
    margin-left: 10px !important;
} 
.contact_lam_hr{
    margin-right: 10px !important;
} 
.myaccount_hr{
    text-align: right !important;
    direction:rtl;
}
.input-label-pd{
    float:right !important;
}

.logn-before{ direction:rtl;}

.menus-content .icon{ background-position:95% 50%!important;padding-left:0px!important;}

.menus-content .icon-home {
    background: url(../img/icon-10.png) no-repeat scroll 95% 50%!important;
    padding-left:0px!important;
}

.menus-content .button{ text-align:left!important;}